# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Audio cache
lyrics_cache/

# Logs and temporary files
*.log
*.tmp
eval_results.json

# VS Code workspace settings
.vscode/